.blockWrapper {
    border: 1px solid #ddd;

    border-radius: 10px;
}
.counter {
    border: 1px solid #ddd;
    height: 110px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.btnWrapper {
    border: 1px solid #f60000;

    border-radius: 10px;

    display: flex;
    gap: 20px;
    margin: 20px;
    padding: 30px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    white-space: nowrap;

    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #77abc5;

}